@mixin button($buttonColor) {
  padding: 0.25rem 1rem;

  cursor: pointer;

  font-size: 16px;

  border-radius: 5px;
  border: 2px solid $secondaryColor;

  &:hover, &:focus {
    color: $primaryColor;
    font-weight: 500;
    background-color: $buttonColor;
  }
  &:disabled {
    cursor: initial;
    color: $primaryColor;
    font-weight: initial;
    background-color: $highlightColor;
  }
}

@mixin section($width, $background){
  width: $width;
  
  overflow: hidden;

  background: $background;
}

@mixin toggleColButton{
  width: 100%;
  border: none;

  transition: 0.4s;
  background: $secondaryColor;

  &:hover, &:focus{
    background: $secondaryColor;
  }
}

@mixin flex($flexDirection, $justifyContent, $alignItems){
  display: flex;
  flex-direction: $flexDirection;

  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin hideScroll() {
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    display: none;  
  }
}

@mixin boxShadowC(){
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
}
@mixin boxShadowL(){
  box-shadow: -3px 0px 10px 3px rgba(0,0,0,0.4);
}
@mixin boxShadowR(){
  box-shadow: 3px 0px 10px 3px rgba(0,0,0,0.4);
}