@import "./variables.scss";
@import "./mixins.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label, input[type=checkbox], input[type=radio]{
  cursor: pointer;
}

button{
  cursor: pointer;
}

input, input:hover, input:focus,
textarea, textarea:hover, textarea:focus{
  border: none;
  outline: none;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}

.primaryButton{
  @include button();
}

.textInput{
  width: 100%;

  padding: 0.25rem;
  font-size: 12px;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid $highlightColor;

  background: $primaryColor;
  
  &:hover, &:focus{
    background: $secondaryColor;
    border-bottom: 1px solid $highlightColor;
    
    &::placeholder{ 
      color: $highlightColor
    }
  }

  &::placeholder{
    color: $highlightColor
  }
}

.paragraphInput{
  width: 100%;
  min-height: 5rem;
  resize: none;

  font-size: 12px;
  
  padding: 0.25rem;

  border: 1px solid $highlightColor;
  background: $primaryColor;

  &:hover, &:focus{
    background: $secondaryColor;
    border: 1px solid $highlightColor;
    
    &::placeholder{
      color: $highlightColor
    }
  }

  &::placeholder{
    color: $highlightColor
  }
}


