@import "./variables.scss";
@import "./mixins.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label, input[type=checkbox], input[type=radio]{
  cursor: pointer;
}

button{
  cursor: pointer;
}

input, textarea {
  width: 100%;

  resize: none;

  padding: 0.25rem 0.5rem;
  font-size: 14px;

  border-radius: 5px;
  border: 1px solid $highlightColor;

  &:focus, &:hover {
    outline: none;
    border: 1px solid $blueHighlight;
  }
}

textarea {
  min-height: 150px;
  font-size: 12px;
}

h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}

.primaryButton{
  @include button($blueHighlight);
}

.primaryButton-red {
  @include button($redHighlight);
}

.sectionTitle{
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}


